.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
Approach.md
.vscode/launch.json
.vscode/tasks.json
obj/poke-index.csproj.nuget.dgspec.json
obj/poke-index.csproj.nuget.g.props
obj/poke-index.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
test/obj/project.assets.json
test/obj/project.nuget.cache
test/obj/test.csproj.nuget.dgspec.json
test/obj/test.csproj.nuget.g.props
test/obj/test.csproj.nuget.g.targets
test/bin/Debug/net5.0/appsettings.json
test/bin/Debug/net5.0/Castle.Core.dll
test/bin/Debug/net5.0/CoverletSourceRootsMapping
test/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
test/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
test/bin/Debug/net5.0/Microsoft.OpenApi.dll
test/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
test/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
test/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
test/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
test/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
test/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
test/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
test/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
test/bin/Debug/net5.0/Moq.dll
test/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
test/bin/Debug/net5.0/Newtonsoft.Json.dll
test/bin/Debug/net5.0/NuGet.Frameworks.dll
test/bin/Debug/net5.0/Poke-Index.deps.json
test/bin/Debug/net5.0/Poke-Index.dll
test/bin/Debug/net5.0/Poke-Index.exe
test/bin/Debug/net5.0/Poke-Index.pdb
test/bin/Debug/net5.0/Poke-Index.runtimeconfig.dev.json
test/bin/Debug/net5.0/Poke-Index.runtimeconfig.json
test/bin/Debug/net5.0/Poke-Index.xml
test/bin/Debug/net5.0/Swashbuckle.AspNetCore.Annotations.dll
test/bin/Debug/net5.0/Swashbuckle.AspNetCore.Newtonsoft.dll
test/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
test/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
test/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
test/bin/Debug/net5.0/test.deps.json
test/bin/Debug/net5.0/test.dll
test/bin/Debug/net5.0/test.pdb
test/bin/Debug/net5.0/test.runtimeconfig.dev.json
test/bin/Debug/net5.0/test.runtimeconfig.json
test/bin/Debug/net5.0/testhost.dll
test/bin/Debug/net5.0/testhost.exe
test/bin/Debug/net5.0/web.config
test/bin/Debug/net5.0/xunit.abstractions.dll
test/bin/Debug/net5.0/xunit.assert.dll
test/bin/Debug/net5.0/xunit.core.dll
test/bin/Debug/net5.0/xunit.execution.dotnet.dll
test/bin/Debug/net5.0/xunit.runner.reporters.netcoreapp10.dll
test/bin/Debug/net5.0/xunit.runner.utility.netcoreapp10.dll
test/bin/Debug/net5.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
test/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net5.0/ref/test.dll
test/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
test/obj/Debug/net5.0/test.AssemblyInfo.cs
test/obj/Debug/net5.0/test.AssemblyInfoInputs.cache
test/obj/Debug/net5.0/test.assets.cache
test/obj/Debug/net5.0/test.csproj.AssemblyReference.cache
test/obj/Debug/net5.0/test.csproj.CopyComplete
test/obj/Debug/net5.0/test.csproj.CoreCompileInputs.cache
test/obj/Debug/net5.0/test.csproj.FileListAbsolute.txt
test/obj/Debug/net5.0/test.dll
test/obj/Debug/net5.0/test.GeneratedMSBuildEditorConfig.editorconfig
test/obj/Debug/net5.0/test.genruntimeconfig.cache
test/obj/Debug/net5.0/test.pdb
test/obj/Debug/net5.0/ref/test.dll
